<div class="modal5 modal5_hidden">
	<form  action="" class="popup">
		<div class="popup__title">Language</div>
		<div class="popup__lan">English</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		<div class="popup__lan">Russian</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		<div class="popup__lan">Ukranian</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		
		<input type="button" class="popup__btn" value="Submit">
	</form>
</div>