{% extends "./layouts/template.html" %}
{% set title = "Hotel - news" %}
{% block content %}
	<main class="main4">
		<div class="box">
			<div class="main4__title">MEETING NEW 2020!</div>
			<div class="main4__box">
				<div class="main4__item1">
					<div class="main4__img1"><div class="main4__img1"></div></div>
					<div class="main4__sub">Great atmosphere, good music and people!</div>
				</div>
				<div class="main4__item2">
					<div class="main4__img2"><div class="main4__img2"></div></div>
					<div class="main4__sub">You will surely enjoy our delicious cuisine!</div>
				</div>
			</div>
			<div class="main4__text">Meet the New Year with us!  Call us for more information.</div>
		</div>
	</main>
{% endblock %}