{% extends "./layouts/template.html" %}
{% set title = "Hotel - Rooms" %}
{% block content %}
	<main class="main2">
		<div class="box">
			<div class="main2__title">ROOMS AND PRICES</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">Standart</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">Book</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/1.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Standard room. The room is equipped with comfortable furniture, a double bed or twin beds,bathroom with modern facilities</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Area<br>Capacity</div>
						<div class="main2__capasity_block2">25.0 sq.m<br>1</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">Junior suite</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">Book</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/2.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Spacious Suite. Suite offers a large living room with a couch and a cozy bedroom.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Area<br>Capacity</div>
						<div class="main2__capasity_block2">40.0 sq.m<br>2</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">LUX</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">Book</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/3.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Three-room suite with panoramic views of Independence Square There are a bedroom with «king size» bed,study with a desk and chair and a cozy living room in this category.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Area<br>Capacity</div>
						<div class="main2__capasity_block2">40.0 sq.m<br>3</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">VIP</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">Book</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/4.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Exclusive suite with panoramic views of Independence Square. There are two bedrooms, two bathrooms, a spacious living room with fireplace, sofa and comfortable chairs.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Area<br>Capacity</div>
						<div class="main2__capasity_block2">40.0 sq.m<br>5</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}