{% extends "./layouts/template.html" %}
{% set title = "Готель - кімнати" %}
{% block content %}
	<main class="main2">
		<div class="box">
			<div class="main2__title">Кімнати та ціни</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">Стандарт</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронювати</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/1.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Стандартний номер. Кімната обладнана зручними меблями, двоспальним ліжком або двома окремими ліжками, ванною кімнатою з сучасними зручностями</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площа<br>Місткість</div>
						<div class="main2__capasity_block2">25.0 кв.м<br>1</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">Полулюкс</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронювати</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/2.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Просторий люкс. Люкс пропонує велику вітальню з диваном і затишну спальню.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площа<br>Місткість</div>
						<div class="main2__capasity_block2">40.0 кв.м<br>2</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">LUX</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронювати</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/3.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Трикімнатний номер з панорамним видом на площу Незалежності. У цій категорії є спальня з ліжком «king size», кабінет з письмовим столом і стільцем, а також затишна вітальня.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площа<br>Місткість</div>
						<div class="main2__capasity_block2">40.0 кв.м<br>3</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">VIP</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронювати</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/4.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Ексклюзивний люкс з панорамним видом на площу Незалежності. Є дві спальні, дві ванні кімнати, простора вітальня з каміном, диван і зручні крісла.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площа<br>Місткість</div>
						<div class="main2__capasity_block2">40.0 кв.м<br>5</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}