<div class="modal5 modal5_hidden">
	<form  action="" class="popup">
		<div class="popup__title">Язык</div>
		<div class="popup__lan">Английский</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		<div class="popup__lan">Руский</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		<div class="popup__lan">Украинский</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		
		<input type="button" class="popup__btn" value="Подтвердить">
	</form>
</div>