<div class="modal1 modal1_hidden">
	<form action="" class="popup">
		<div class="popup__title">
			<h4 class="popup__title_text">Login</h4>
		</div>
		<div class="popup__textbox">
			<i class="fa fa-user popup__icon" aria-hidden="true"></i>
			<input type="text" name="email" placeholder="Email" class="popup__textbox_text">
		</div>
		<div class="popup__textbox">
			<i class="fa fa-lock popup__icon" aria-hidden="true"></i>
			<input type="password" name="password" placeholder="Password" class="popup__textbox_text">
		</div>
		<input type="button" class="popup__btn" value="Sign in">
	</form>
</div>