<div class="modal4 modal4_hidden">
	<form  action="" class="popup">
		<div class="popup__textbox">
			<label for="1" class="popup__textbox_label">Email</label>
			<input type="email" id="1" placeholder="ivanov@icloud.com" class="popup__textbox_text">
		</div>
		<div class="popup__textbox">
			<label for="2" class="popup__textbox_label">Ім'я</label>
			<input type="text" name="Phone number" id="2" placeholder="Ivan" class="popup__textbox_text">
		</div>
		<div class="popup__textbox">
			<label for="3" class="popup__textbox_label">Прізвище</label>
			<input type="text" name="Phone number" id="3" placeholder="Ivanov" class="popup__textbox_text">
		</div>
		<div class="popup__textbox">
			<label for="4" class="popup__textbox_label">Паспорт</label>
			<input type="text" name="Phone number" id="4" placeholder="00003456" class="popup__textbox_text">
		</div>
		<div class="popup__textbox">
			<label for="5" class="popup__textbox_label">Номер телефона</label>
			<input type="tel" name="Phone number" id="5" placeholder="0665212750" class="popup__textbox_text">
		</div>
		<input type="button" class="popup__btn" value="Зберегти зміни">
		<input type="button" class="popup__btn" value="Відмінити">
		<div class="block">
			<div class="block__title">
				<h4 class="block__title_h4">Поточне бронювання</h4>
			</div>
			<table class="block__table">
				<tr class="block__tr">
					<th class="block__headers">Дата</th>
					<th class="block__headers">Тип комнати</th>
					<th class="block__headers">Гості</th>
					<th class="block__headers">Ціна</th>
				</tr>
				<tr class="block__tr">
					<td class="block__info">04.10.19-19.10.19</td>
					<td class="block__info">Стандарт</td>
					<td class="block__info">1</td>
					<td class="block__info">75$</td>
				</tr>
			</table>
		</div>
		<input type="button" class="popup__btn" value="вийти">
	</form>
</div>