<div class="modal5 modal5_hidden">
	<form  action="" class="popup">
		<div class="popup__title">Мова</div>
		<div class="popup__lan">Англійська</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		<div class="popup__lan">Російська</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		<div class="popup__lan">Українська</div>
		<div class="popup__textbox">
			<input type="checkbox" id="1" class="popup__textbox_text">
			<label for="1" class="popup__textbox_label"></label>
		</div>
		
		<input type="button" class="popup__btn" value="Підтвердити">
	</form>
</div>