<header class="header">
	<div class="box">
		<div class="header__panel">
			<div class="header__cap">
				<a class="header__link" href="index.html">
					<div class="header__logo">Riviera Estate</div>
				</a>
			</div>
			<nav class="menu">
				<div><a href="/index.html" class="menu__link">Главная</a></div>
				<div><a href="/rooms.html" class="menu__link">Комнаты</a></div>
				<div><a href="/booking.html" class="menu__link">Бронирование</a></div>
				<div><a href="/news.html" class="menu__link ">Наши новости</a></div>
				<div><a href="#" class="menu__link menu__call">Контакты</a></div>
				{% if !auth %}
					<div><a href="#" class="menu__link menu__signup">Регистрация</a></div>
					<div><a href="#" class="menu__link menu__log">Вход</a></div>
				{% else %}
					<div><a href="#" class="menu__link menu__acc">Аккаунт</a></div>
				{% endif %}
				<div class="menu__link menu__lan">Язык</div>
			</nav>
		</div>
	</div>
</div>
</header>