{% extends "./layouts/template.html" %}
{% set title = "Hotel - booking" %}
{% block content %}
	<main class="main3">
		<div class="box">
			<form class="main3__block1 formfind">
				<div class="formfind__item">
					<div class="formfind__title">Arrive</div>
					<div class="formfind__box down">
						<input class="formfind__date" type="date" name="date">
					</div>
				</div>
				<div class="formfind__item">
					<div class="formfind__title">Out</div>
					<div class="formfind__box down">
						<input class="formfind__date" type="date" name="date">
					</div>
				</div>
				<div class="formfind__item formfind__item_none">
					<div class="formfind__title">Guest</div>
					<div class="formfind__box down">
						<select class="formfind__select">
							<option value="">--How many quests?--</option>
							<option value="1 quest">1 quest</option>
							<option value="2 quest">2 quest</option>
							<option value="3 quest">3 quest</option>
							<option value="4 quest">4 quest</option>
						</select>
					</div>
				</div>
				<a class="formfind__link" href="#">
					<div class="formfind__item3 up">CHECK</div>
				</a>
			</form>
			<div class="main3__block2 book">
				<div class="book__title">10.10.2019 - 15.10.2019 / Room : 1, Guest: 1</div>
				<div class="book__coop">
					<div class="book__item1"></div>
					<div class="book__item2">
						<div class="book__block">
							<div class="book__block_first">Business Suite</div>
							<div class="book__block_second">
								<div class="book__block_second-text">75$/night</div>
								<a href="#" class="book__link"><div class="book__block_second-button">buy</div></a>
							</div>
						</div>
						<div class="book__block2">
							<div class="book__block2_first">Guest(s):<br>Area:</div>
							<div class="book__block2_sec">5<br>75 sq.m</div>
						</div>
						<div class="book__sub">Choose your monster's features:</div>
						<div class="book__check">
							<div class="book__item">
								<input type="checkbox" id="TV" name="TV" checked>
								<label for="TV">TV</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Wifi" name="Wifi">
								<label for="Wifi">Wifi</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Cable channels" name="Cable channels">
								<label for="Cable channels">Cable channels</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Free toiletries" name="Free toiletries">
								<label for="Free toiletries">Free toiletries</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Carpeted floor" name="Carpeted floor">
								<label for="Carpeted floor">Carpeted floor</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Wake up service" name="Wake up service">
								<label for="Wake up service">Wake up service</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Telephone" name="Telephone">
								<label for="Telephone">Telephone</label>
							</div>
						</div>
						<div class="book__text">Standard room. The room is equipped with comfortable furniture,
							twin beds, bathroom with modern facilities.<br>
							-daily towel change<br>
							-change of bed linen - once in 3 days<br>
						The rooms can slightly differ in interior</div>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}