{% extends "./layouts/template.html" %}
{% set title = "Гостиница - бронирование" %}
{% block content %}
	<main class="main3">
		<div class="box">
			<form class="main3__block1 formfind">
				<div class="formfind__item">
					<div class="formfind__title">Прибытие</div>
					<div class="formfind__box down">
						<input class="formfind__date" type="date" name="date">
					</div>
				</div>
				<div class="formfind__item">
					<div class="formfind__title">Выселение</div>
					<div class="formfind__box down">
						<input class="formfind__date" type="date" name="date">
					</div>
				</div>
				<div class="formfind__item formfind__item_none">
					<div class="formfind__title">Гости</div>
					<div class="formfind__box down">
						<select class="formfind__select">
							<option value="">--Сколько гостей?--</option>
							<option value="1 quest">1 гость</option>
							<option value="2 quest">2 гостя</option>
							<option value="3 quest">3 гостя</option>
							<option value="4 quest">4 гостя</option>
						</select>
					</div>
				</div>
				<a class="formfind__link" href="#">
					<div class="formfind__item3 up">Поиск</div>
				</a>
			</form>
			<div class="main3__block2 book">
				<div class="book__title">10.10.2019 - 15.10.2019 / Комната : 1, Гость: 1</div>
				<div class="book__coop">
					<div class="book__item1"></div>
					<div class="book__item2">
						<div class="book__block">
							<div class="book__block_first">Бизнес Люкс</div>
							<div class="book__block_second">
								<div class="book__block_second-text">75$/ночь</div>
								<a href="#" class="book__link"><div class="book__block_second-button">Приобрести</div></a>
							</div>
						</div>
						<div class="book__block2">
							<div class="book__block2_first">Гость(и):<br>Площадь:</div>
							<div class="book__block2_sec">5<br>75 кв.м</div>
						</div>
						<div class="book__sub">Выберите функции монстров:</div>
						<div class="book__check">
							<div class="book__item">
								<input type="checkbox" id="TV" name="TV" checked>
								<label for="TV">Телевизор</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Wifi" name="Wifi">
								<label for="Wifi">Wifi</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Cable channels" name="Cable channels">
								<label for="Cable channels">Кабельные каналы</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Free toiletries" name="Free toiletries">
								<label for="Free toiletries">Бесплатные туалетные принадлежности</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Carpeted floor" name="Carpeted floor">
								<label for="Carpeted floor">Ковровое покрытие</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Wake up service" name="Wake up service">
								<label for="Wake up service">Услуга пробуждения</label>
							</div>
							<div class="book__item">
								<input type="checkbox" id="Telephone" name="Telephone">
								<label for="Telephone">Телефон</label>
							</div>
						</div>
						<div class="book__text">Стандартный номер. Комната оборудована удобной мебелью,
							две односпальные кровати, ванная комната с современным оборудованием.<br>
							-ежедневная смена полотенец<br>
							-смена постельного белья - 1 раз в 3 дня<br>
						Комнаты могут немного отличаться по интерьеру</div>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}