{% extends "./layouts/template.html" %}
{% set title = "Гостиница - комнаты" %}
{% block content %}
	<main class="main2">
		<div class="box">
			<div class="main2__title">НОМЕРА И ЦЕНЫ</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">Стандарт</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронировать</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/1.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Стандартный номер. Комната оборудована удобной мебелью, двуспальной кроватью или двумя отдельными кроватями, ванной комнатой с современными удобствами</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площадь<br>Вместимость</div>
						<div class="main2__capasity_block2">25.0 кв.м<br>1</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">Полулюкс</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронировать</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/2.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Просторный люкс. Люкс предлагает большую гостиную с диваном и уютную спальню.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площадь<br>Вместимость</div>
						<div class="main2__capasity_block2">40.0 кв.м<br>2</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">LUX</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронировать</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/3.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Трехкомнатный номер с панорамным видом на площадь Независимости. В этой категории есть спальня с кроватью «king size», кабинет с письменным столом и стулом, а также уютная гостиная.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площадь<br>Вместимость</div>
						<div class="main2__capasity_block2">40.0 кв.м<br>3</div>
					</div>
				</div>
			</div>
			<div class="main2__block">
				<div class="main2__coop">
					<div class="main2__class">VIP</div>
					<a class="main2__buts" href="booking.html"><div class="main2__but">забронировать</div></a>
				</div>
				<div class="main2__img"><img class="main2__img" src="./img/main2/4.png"></div>
				<div class="main2__sub">
					<div class="main2__text">Эксклюзивный люкс с панорамным видом на площадь Независимости. Есть две спальни, две ванные комнаты, просторная гостиная с камином, диван и удобные кресла.</div>
					<div class="main2__capasity">
						<div class="main2__capasity_block1">Площадь<br>Вместимость</div>
						<div class="main2__capasity_block2">40.0 кв.м<br>5</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}